<div class="nav">
    <div class="nav__section nav-link">
        <a href="#home" class="nav__item nav__item--siteId">
            B&amp;J
        </a>
    </div>
    <div class="nav__section nav-link">
        <a href="#" class="nav__item">
            OUR STORY
        </a>
        <a href="#" class="nav__item">
            WHEN + WHERE
        </a>
        <a href="#" class="nav__item">
            FAQ
        </a>
        <a href="#" class="nav__item">
            REGISTRY
        </a>
        <a href="#" class="nav__item">
            RSVP
        </a>
    </div>
</div>
