<nav class="nav">
    <div class="nav__section nav-link">
        <a href="#home" class="nav__item nav__item--siteId">
            b &amp; j
        </a>
    </div>
    <div class="nav__section nav-link">
        <a href="#journey" class="nav__item">
            the journey
        </a>
        <a href="#location" class="nav__item">
            when + where
        </a>
        <a href="#portland" class="nav__item">
            pdx guide
        </a>
        <a href="#registry" class="nav__item">
            registry
        </a>
        <a href="#rsvp" class="nav__item">
            rsvp
        </a>
    </div>
</nav>
