<section class="section journey" id="journey">
    <div class="content">
        <h2 class="heading">the journey</h2>
        <div class="brandi">
            <div class="avatar-container mobile">
                <img class="avatar mobile" src="/assets/images/brandi.svg" alt="">
            </div>
            <h3 class="subheading">Brandi</h3>
            <div class="flex-container">
                <p class="copy">{{ page.journey_brandi }}</p>
                <img class="avatar desktop" src="/assets/images/brandi.svg" alt="">
            </div>
        </div>
        <div class="jason">
            <div class="avatar-container mobile">
                <img class="avatar" src="/assets/images/jason.svg" alt="">
            </div>
            <h3 class="subheading">Jason</h3>
            <div class="flex-container">
                <img class="avatar desktop" src="/assets/images/jason.svg" alt="">
                <p class="copy">{{ page.journey_jason }}</p>
            </div>
        </div>
        <div class="bandj">
            <h3 class="subheading">The Road Ahead</h3>
            <p class="copy">{{ page.journey_together }}</p>
        </div>
    </div>
</section>
