<section class="section landing-info">
    <div class="content">
        <p class="copy">
            Already RSVP'd?
        </p>
        <p class="copy">
            Get to know the couple.
        </p>
        <a href="#journey">
            <svg class="icon arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60px" height="80px" viewBox="0 0 60 80" xml:space="preserve">
                <polyline fill="none" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="
                0.375,0.375 45.63,38.087 0.375,75.8 "/>
            </svg>
        </a>
    </div>
</section>
