{% assign content = site.data.location %}

<section class="section location">
    <div class="content">
        <h3 class="subheading date">
            {{content.heading}}
        </h3>
        <div class="address-container">
            <div class="info">
                <h3 class="subheading">
                    {{content.restaurantName}}
                </h3>
                <a href="https://goo.gl/maps/MUWKqz8u6UU2" class="link">
                    <address class="link">
                        {{content.addressLineOne}}<br />
                        {{content.addressLineTwo}}<br />
                        {{content.addressLineThree}}
                    </address>
                </a>
            </div>
            <div class="map-container">
                <div class="overlay" onClick="style.pointerEvents='none'"></div>
                <iframe
                    class="google-map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.3548563042264!2d-122.65648878442006!3d45.52306417910169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495a0a56d14615f%3A0xd793fc6ab312b3b7!2sNoble+Rot!5e0!3m2!1sen!2sus!4v1486228329399"
                    frameborder="0"
                    scrollwheel="false"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        <p class="copy center">
            {{content.copy}}
        </p>
        <div class="expect block">
            <div class="block-heading-container">
                <h3 class="subheading">
                    Venue
                </h3>
                <svg class="icon arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60px" height="80px" viewBox="0 0 60 80" xml:space="preserve">
                    <polyline fill="none" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="
                    0.375,0.375 45.63,38.087 0.375,75.8 "/>
                </svg>
            </div>
            <div class="block-info-container">
                <p class="copy">
                    The venue is located on the 4th floor of the building. It is handicapped accessible and there is an elevator. Weather in the month of July in Oregon typically has the least rain, with temperatures often reaching mid-80s. The ceremony will take place on an uncovered patio. There will be seating on the patio and a covered portion of the adjoining atrium. This area will not have air conditioning. The reception will be held directly afterward and will take place mostly inside the restaurant, which does have air conditioning.
                </p>
            </div>
        </div>
        <div class="unplugged block">
            <div class="block-heading-container">
                <h3 class="subheading block-subheading">
                    Unplugged ceremony
                </h3>
                <svg class="icon arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60px" height="80px" viewBox="0 0 60 80" xml:space="preserve">
                    <polyline fill="none" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="
                    0.375,0.375 45.63,38.087 0.375,75.8 "/>
                </svg>
            </div>
            <div class="block-info-container">
                <p class="copy">
                    We&CloseCurlyQuote;re requesting that our very short and sweet wedding ceremony be completely unplugged and cellphone/camera-free. We&CloseCurlyQuote;ll have a fantastic photographer named Alex who will be documenting it to ensure that guests can enjoy the moment.<br /><br />
                    As soon as the ceremony is over, feel free to pull out your camera for the reception and go crazy - take as many pictures as your heart desires! We only ask that you not share any pictures of the newlyweds on social media. Most of you already know how Brandi feels about people bein&CloseCurlyQuote; in her business.
                </p>
            </div>
        </div>
        <div class="parking block">
            <div class="block-heading-container">
                <h3 class="subheading block-subheading">
                    Parking
                </h3>
                <svg class="icon arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60px" height="80px" viewBox="0 0 60 80" xml:space="preserve">
                    <polyline fill="none" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="
                    0.375,0.375 45.63,38.087 0.375,75.8 "/>
                </svg>
            </div>
            <div class="block-info-container">
                <p class="copy">
                    There is Pay-to-Park street parking along East Burnside for several blocks. There is also free street parking in the residential area nearby.
                </p>
            </div>
        </div>
    </div>
</section>
