<section class="section location">
    <div class="content">
        <h3 class="subheading date article">
            Saturday, July 15th, 2017 @ 11:00am
        </h3>
        <div class="address-container">
            <div class="info">
                <h3 class="subheading">
                    Noble Rot
                </h3>
                <a href="https://goo.gl/maps/MUWKqz8u6UU2">
                    <address class="address copy">
                        1111 East Burnside <br />
                        Fourth Floor <br />
                        Portland, OR 97201
                    </address>
                </a>
            </div>
            <div class="map-container">
                <div class="overlay" onClick="style.pointerEvents='none'"></div>
                <iframe
                    class="google-map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.3548563042264!2d-122.65648878442006!3d45.52306417910169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495a0a56d14615f%3A0xd793fc6ab312b3b7!2sNoble+Rot!5e0!3m2!1sen!2sus!4v1486228329399"
                    frameborder="0"
                    scrollwheel="false"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="parking article">
            <h3 class="subheading">
                Parking
            </h3>
            <p class="copy">
                There is Pay-to-Park street parking along East Burnside for several blocks. There is also street parking in the residential area near
            </p>
        </div>
        <div class="expect article">
            <h3 class="subheading">
                What to expect
            </h3>
            <p class="copy">
                The ceremony will take place on an uncovered patio, with seating offered in part of the patio and a covered portion an atrium with glass walls and no AC. The reception will take place mostly inside the restaurant, which does have AC.
            </p>
        </div>
        <div class="unplugged article">
            <h3 class="subheading">
                Unplugged/Phone-free ceremony
            </h3>
            <p class="copy">
                We know it’s 2017 and all but we’re requesting that our very short and sweet wedding ceremony be completely unplugged and cellphone/camera-free. We’ll have a lovely photographer there to document the event. As soon as the ceremony is over, feel free to to pull your camera out for the reception and go crazy.
            </p>
        </div>
        <div class="attire article">
            <h3 class="subheading">
                Info on attire
            </h3>
            <p class="copy">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</section>
