{% assign content = site.data.content.portland %}

<section class="section portland">
    <div class="content">
        <h3 class="subheading category">
            Accommodations
        </h3>
        <a href="http://hotellucia.com/" class="subheading">
            Hotel Lucia
        </a>
        <a href="https://goo.gl/maps/mS2GsejqyyG2" class="link">
            <address class="address link">
                400 SW Broadway<br />
                Portland, OR 97205
            </address>
        </a>
        <div class="expect block">
            <div class="block-heading-container">
                <h3 class="subheading">
                    Food &amp; Drink
                </h3>
                <svg class="icon arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60px" height="80px" viewBox="0 0 60 80" xml:space="preserve">
                    <polyline fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="
                    0.375,0.375 45.63,38.087 0.375,75.8 "/>
                </svg>
            </div>
            <div class="block-info-container">
                <p class="copy">
                    There are some delicious places to eat and drink in this town. Check out some of our faves:
                </p>
                {% for rest in content.foodAndDrink.restaurants %}
                    <div class="rest-container">
                        <a href="{{rest.href}}" class="link">{{rest.cta}}</a> <span class="copy">{{rest.copy}}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <h3 class="subheading category">
            Activities
        </h3>
        <p class="copy">
            Shop at Portland Saturday Market and walk down row upon row of unique, handcrafted items, choose from a plethora of exotic foods to eat while listening to live music.
        </p>
        <p class="copy">
            Visit Powell&CloseCurlyQuote;s City of Books to explore the largest used and new bookstore in the world. It takes up an entire city block and holds approximately one million books spread through 9 color-coded rooms and over 3,500 different sections including out-of-print and hard-to-find titles.
        </p>
        <p class="copy">
            Want to kick it in the outdoors? Visit the International Rose Test Garden or take a hike in Forest Park, Portland&CloseCurlyQuote;s 5,200 acre urban forest. If you&CloseCurlyQuote;d like more hiking options, hop in the car and head 35 minutes east and check out one of the many hikes in the Columbia River Gorge.
        </p>
    </div>
</section>
