<section class="section portland">
    <div class="content">
        <h3 class="subheading category">
            Accommodations (STAY)
        </h3>
        <a href="http://hotellucia.com/" class="subheading">
            Hotel Lucia
        </a>
        <a href="https://goo.gl/maps/mS2GsejqyyG2" class="link">
            <address class="address link">
                400 SW Broadway<br />
                Portland, OR 97205
            </address>
        </a>
        <h3 class="subheading category">
            Food (EAT + DRINK)
        </h3>
        <h3 class="subheading category">
            Activities (PLAY)
        </h3>
        <p class="copy">
            Shop at Portland Saturday Market and walk down row upon row of unique, handcrafted items, choose from a plethora of exotic foods to eat while listening to live music.
        </p>
        <p class="copy">
            Visit Powell’s City of Books to explore the largest used and new bookstore in the world. It takes up an entire city block and holds approximately one million books spread through 9 color-coded rooms and over 3,500 different sections including out-of-print and hard-to-find titles.
        </p>
        <p class="copy">
            Want to kick it in the outdoors? Visit the International Rose Test Garden or take a hike in Forest Park, Portland’s 5,200 acre urban forest. If you’d like more hiking options, hop in the car and head 35 minutes east and check out one of the many hikes in the Columbia River Gorge.
        </p>
    </div>
</section>
