<section class="section registry">
    <div class="content">
        <p class="copy excerpt">
            We are so happy that you’ll be able to join us for our wedding. While the presence of your company is the only gift we could ask for, an alternative registry has been set up here for those who have expressed an interest in offering a gift to mark the occasion.
        </p>
        <div class="cta-container">
            <a href="#" class="button">visit registry</a>
        </div>
        <div class="link-container flex-container">
            <p class="copy">
                We’d also appreciate any donations made in our honor to any of the following organizations that need the support:
            </p>
            <div class="flex-container stack link-container">
                <a href="#" class="link">The Trevor Project</a>
                <a href="#" class="link">Mexican American Legal Defense Fund</a>
                <a href="#" class="link">The Center for Reproductive Rights</a>
                <a href="#" class="link">The NAACP Legal Defense Fund</a>
            </div>
        </div>
    </div>
</section>
