<section class="section registry" id="registry">
    <div class="content">
        <h2 class="heading">
            Registry
        </h2>
        <p class="copy">
            We are so happy that you’ll be able to join us for our wedding. While the presence of your company is the only gift we could ask for, an alternative registry has been set up here for those who have expressed an interest in offering a gift to mark the occasion.
        </p>
        <div class="cta-container">
            <a href="#" class="button">visit registry</a>
        </div>
    </div>
</section>
