<section class="section registry">
    <div class="content">
        <h2 class="subheading">
            Here&CloseCurlyQuote;s the deal
        </h2>
        <p class="copy">
            All we want on this day is to get married with you all there to heckle us and celebrate with breakfast food, coffee and bubbly. That said, we&CloseCurlyQuote;ve decided not to register for gifts.
        </p>
        <br />
        <p class="copy">
            If you&CloseCurlyQuote;d like to give beyond what you&apos;ve already given us (plane tickets, hotel stays, your time, and more), feel free to sneak some cash into the reception which we will use on our next adventure: Puerto Vallarta.
        </p>
    </div>
</section>
