.section.divider {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include when-wider-than(small_desktop) {
        background-attachment: fixed;
    }

    .heading {
        text-align: center;
        color: $md-lod-primary;
        padding: 5rem 0;
    }
}
