.section.journey {
    // background-color: $blue;

    .content {
        max-width: 50rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .heading {
        @include heading;
        text-align: center;
    }

    .subheading {
        @include subheading;
    }

    .copy {
        @include copy;
    }

    .brandi {
        text-align: left;
        margin-bottom: 3rem;
    }

    .jason {
        text-align: right;
        margin-left: auto;
        margin-bottom: 5rem;
    }

    .bandj {
        text-align: center;
    }

    .avatar {
        width: 250px;
        height: 250px;
    }

}
