.section.landing {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding-top: 10.5rem;

    @include when-wider-than(small_desktop) {
        background-attachment: fixed;
    }

    .heading {
        color: $md-lod-primary;
        margin-bottom: 2rem;
    }

    .subheading {
        color: $md-lod-secondary;
        margin-bottom: 2rem;
    }
}
