.section.location {
    .heading {
        text-align: center;
    }

    .address {
        font-style: normal;

        &-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            @include when-wider-than(small_desktop) {
                flex-direction: row;
            }
        }
    }

    .info {
        display: flex;
        flex-direction: column;
    }

    .date {
        text-align: center;
    }

    .time {
        @include subheading;
        font-weight: 600;
    }

    .article {
        margin-bottom: 3rem;
    }

    // Simple overlay to disable the mouse scroll by default on the map
    .overlay {
        background: transparent;
        position: relative;
        width: auto;
        height: 120px;
        top: 120px;
        margin-top: -120px;

        @include when-wider-than(small_desktop) {
            width: auto;
            height: 300px;
            top: 300px;
            margin-top: -300px;
        }
   }

    .google-map {
        width: auto;
        height: 120px;
        border: 0;

        @include when-wider-than(small_desktop) {
            width: auto;
            height: 300px;
        }
    }

}
