.section.registry {
    text-align: center;

    .heading {
        text-align: center;
    }

    .excerpt {
        margin-bottom: 3rem;
    }

    .cta-container {
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
    }

    .flex-container {
        justify-content: space-between;

        .copy {
            flex-basis: 50%;
            padding-right: 3rem;
            text-align: right;
        }

        .link-container {
            flex-basis: 50%;
            justify-content: space-around;
            padding-left: 3rem;
            border-left: 1px solid $md-dol-divider;
            text-align: left;
        }
    }
}
