.section.registry {
    text-align: center;
    padding: {
        top: 6rem;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .subheading {
        margin-bottom: 1rem;
    }

    .content {
        padding-bottom: 6rem;
        border-bottom: 1px solid $md-dol-divider;
    }
}
