@mixin respond($device, $size, $orientation: null) {
    @if ($orientation != null) {
        @media screen and (min-width: calc-width($device, $size)) and (orientation: $orientation) {
            @content;
        }
    } @else {
        @media screen and (min-width: calc-width($device, $size)) {
            @content;
        }
    }
}

@mixin align($alignment) {
    @media (orientation: $alignment) {
        @content;
    }
}

@mixin retina {
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { @content; }
}

@mixin nav-link {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@mixin heading {
    font-family: jSans-regular, sans-serif;
    margin-bottom: 5rem;
    font-size: 6rem;
    font-weight: 400;
    color: $md-dol-primary;
}

@mixin subheading {
    font-family: jSans-light, sans-serif;
    font-size: 3rem;
    font-weight: 300;
    color: $md-dol-primary;
}

@mixin copy {
    font-family: jSans-light, sans-serif;
    font-size: 1.5rem;
    line-height: 2.14285714285714rem;
    font-weight: 300;
    color: $md-dol-secondary;
}

@mixin button {
    font-weight: 600;
}
