.fouc-mask--loading {
    opacity: 0;
}

.fouc-mask--loaded {
    opacity: 1;
    transition: opacity 350ms;
}

.flex {
    &-container {
        display: flex;

        &.stack {
            flex-direction: column;
        }
    }
}

.content {
    max-width: 50rem;
    margin: 0 auto;
}
