.block {
    border-bottom: 1px solid $md-dol-divider;
    padding-bottom: 1rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    .subheading {
        display: inline;
    }

    &-info-container {
        display: none;
    }

    .entry {
        margin-bottom: 1rem;
    }

    &-heading-container {
        &:hover,
        &:focus {
            cursor: pointer;
        }
        margin-bottom: 1rem;
    }
}
