.button {
    font-family: jSans-light, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    // Lineheight, height, padding, all to offset the empty space beneath the font
    // This is specific to the jSans-light font being used here
    line-height: 1.3rem;
    height: 3rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: $md-lod-primary;
    background-color: $blue;
    transition: color 250ms ease;

    &:hover {
        color: $md-lod-primary;
    }

    &:visited {
        color: $md-lod-primary;
    }
}
