.subheading {
    font-family: jSans-light, sans-serif;
    font-weight: 300;
    color: $md-dol-primary;
    font-size: 2rem;
    margin-bottom: .4rem;

    @include when-wider-than(small_desktop) {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}
