---
home_title_line_1: 'brandi & jason'
home_title_line_2: 'are getting married'
home_date: '07.15.17'
home_time: '11 am'
home_location: 'Noble Rot Restaurant, Portland, OR'

journey_jason: 'Jason was born in Colorado and bounced around the western United States until landing in a suburb of Portland, Oregon. Growing up he kept busy with the usual shenanigans, video games, learning to play music, and he had a proclivity for computers. After high school he developed a great passion for playing guitar, and a few years later he found that he missed being involved with computers so he started a career in IT support. Around that time he began earnestly pursuing a rock climbing hobby and eventually he turned to the world of web development.'
journey_brandi: 'Brandi is a California native who firmly believes Portland drivers were put on this earth to test her patience. When she’s not yelling obscenities in traffic, she’s busy reading several books at a time, binge watching shows for the umpteenth on Netflix or lifting something heavy. Although she started her career as a Pilates and corrective exerhe makes that paper doing various things in the marketing field although when she has time to reflect, she finds it odd that she started her career as a Pilates instructor and corrective exercise professional, and wound up sending emails. While she used to dream of running away to join the circus full time, now she makes it work by doing the occasional handstand, climbing a wall when the feeling suits her and wearing brightly colored jumpsuits when the occasion arises. '
journey_together: 'Jason and Brandi met on a New Year’s Eve in 2014. They started climbing together with friends at a local bouldering gym. Bouldering sessions with groups turned into bouldering sessions with only each other, which led to post-climb burgers. Burgers turned into late night coffee beverages and talking about books, which led to inappropriate jokes and a penchant for getting pizza at 2am so they could sustain themselves while binge watching The Walking Dead. Now, they want to watch the Walking Dead for the rest of their lives together. No matter how much side-eye Brandi dishes out to Jason, somehow he can take it. Marriage was the obvious next step.'
---
{%  include
        sections/home.html
%}

{%  include
        sections/divider.html
        image="road.jpg"
%}

{%  include
        sections/journey.html
%}

{%  include
        sections/divider.html
        image="noble_rot.jpg"
%}

{%  include
        sections/location.html
%}

{%  include
        sections/divider.html
        image="portland.jpg"
%}

{%  include
        sections/portland.html
%}

{%  include
    sections/divider.html
    image="give.jpg"
%}

{%  include
        sections/registry.html
%}

{%  include
        sections/rsvp.html
%}
